body {
  height: 90%;
  margin: 10; 
  padding: 10; 
}


#text_input {
    height: 250px;
    width: 100%;
}

.my_box1 {
  text-align: right;
}

.my_box2 {
  display: flex; 
  gap: 20px; 
  justify-content: right; 
  align-items:baseline; 
}
#text_display {
  padding: 20px;
  font-size: 20px;
  font-family: serif;
  word-spacing: 5px;
}

#remove_word {
  height: 40px;
  width: 100%;
  font-size: 20px;
}

#pop_up_button{
  height: 40px;
  width: 80%;
  font-size: 20px; 

}

#read_text {
  position: relative;
}

.text_box {
  padding: 35px;
  text-align: center;
  
}

#set_text {
  width: 75%;
  height: 40px;
  font-size: 15px;
}

.button {
  background-color: white;
}

.button:hover {
  background-color: rgb(192, 192, 192);
  cursor: pointer;
}

#bv_select {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  row-gap: 10px;
  column-gap: 20px;
  padding: 20px;
  
}

.verse_input {
  height: 30%;
  width: 350px;
}

#get_verse{
  width: 150px;
  height: 30px;
  background-color: white;
  border-radius: 20px;
}